<div class="cen">
    <div class="sec1">
        <br>
        <img src="https://raw.githubusercontent.com/mibiliyaz/DBS-PaymentsProject/main/imgs/DBS-BrandLogo.png"
            style="height: 100px; width: 205px; border: 2px solid white;" alt="logo"> <br><br>
        <br>
        <br>
        <div class="lef">
            &nbsp;
            <div class="sec2">
            </div>

            <input type="text" placeholder="Enter your Username" [(ngModel)]="uname" required><br><br>
            &nbsp;
            <input type="password" placeholder="Enter your Password" [(ngModel)]="upswd" required>
        </div>
        <br>
        <button type="submit" (click)="onSubmit()">Login</button><br><br>
        <a href="" (click)="forgot();">Forgot password?</a>
        

    </div>
    
</div>